body {
  background: linear-gradient(to bottom right, #1e1e1e, #3e3e3e);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.geoinsight-container {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  background-color: #2b2b2b;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.geoinsight-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #00e676;
}

.geoinsight-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.geoinsight-form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #00e676;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 70%;
  max-width: 400px;
  background-color: #4a4a4a;
  color: #e0e0e0;
}

.geoinsight-form input::placeholder {
  color: #b0b0b0;
}

.geoinsight-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #2b2b2b;
  background-color: #00e676;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.geoinsight-form button:hover {
  background-color: #00c853;
}

.error {
  color: #ff5252;
  margin-bottom: 20px;
}

.geoinsight-content {
  display: flex;
  flex-direction: column;
}

.map-and-coordinates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 400px;
}

.map-container {
  width: 65%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.coordinates-info {
  width: 32%;
  background-color: #424242;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coordinates-info h2 {
  color: #00e676;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.coordinates-info p {
  margin: 10px 0;
  font-size: 1rem;
}

.coordinates-info strong {
  color: #00e676;
}

.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details {
  background-color: #424242;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.weather-details h2 {
  margin: 0;
  color: #00e676;
  font-size: 1.5rem;
}

.weather-details h3 {
  margin: 10px 0;
  color: #e0e0e0;
  font-size: 1.25rem;
}

.weather-details p {
  margin: 5px 0;
  font-size: 1rem;
}

.weather-details img {
  margin-top: 10px;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.forecast-item {
  background-color: #424242;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(20% - 20px);
  min-width: 120px;
}

.forecast-item h4 {
  margin: 10px 0;
  color: #00e676;
  font-size: 1rem;
}

.forecast-item p {
  margin: 5px 0;
  font-size: 1rem;
  color: #e0e0e0;
}

.forecast-item img {
  margin: 10px 0;
}

footer {
  flex-shrink: 0;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #00e676;
  color: #e0e0e0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

footer a {
  margin: 0 10px;
  color: #00e676;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #00c853;
}

footer img {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .map-and-coordinates {
    flex-direction: column;
    height: auto;
  }

  .map-container, .coordinates-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .map-container {
    height: 300px;
  }

  .forecast-item {
    width: calc(50% - 20px);
  }
}